<%- include("../partials/header.ejs") %>

<div class="hold py-5">
    <div class="container">
        <div class="ticket-container">
            <h3 class="text-center">Buy Match Ticket</h3>
            <hr>
            <form action="/purchase-ticket" method="POST">
                <input type="hidden" class="form-control" name="date" value="<%= new Date(fixture.mdate).toDateString() %>">
                <input type="hidden" class="form-control" name="time" value="<%= fixture.mtime%>">
                <input type="hidden" class="form-control" name="venue" value="<%= fixture.hostedby%>">
                <div class="mb-3">
                    <label for="match" class="form-label text-primary-mine">Match</label>
                    <input type="text" class="form-control" id="fixture" name="fixture" value="<%= fixture.hometeam %> vs <%= fixture.awayteam %>" readonly>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label text-primary-mine">M-Pesa Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="07XXXXXXXX" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-primary-mine">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" required>
                </div>    
                <div class="mb-3">
                    <label for="amount" class="form-label text-primary-mine">Ticket Price</label>
                    <input type="text" class="form-control" id="amount" name="amount" value="KES 50" readonly>
                </div>
                <button type="submit" class="btn btn-success w-100">
                    Pay with M-Pesa <i class="fas fa-mobile-alt"></i>
                </button>
            </form>
        </div>
    </div>    
</div>
<%- include("../partials/footer.ejs") %>