<%- include("partials/header.ejs") %>

<div class="hold">
  <div class="container py-5">
    <h1 class="text-center mb-4 text-primary-mine">CAREERS</h1>
    <div class="text-center mb-4">
      <h3 class="fw-bold"><%= jobs.length %> Job<%= jobs.length > 1 ? 's' : '' %></h3>
      <div class="search-bar">
        <input type="text" class="form-control" id="searchInputCareer" placeholder="Search Jobs">
        <button type="button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
    <div class="row g-4">
      <% jobs.forEach(job => { %>
        <div class="col-md-4 job-item">
          <div class="p-4 job-card">
            <p class="job-openings"><%= job.openings %> open position<%= job.openings > 1 ? 's' : '' %></p>
            <h5 class="job-title"><%= job.title %></h5>
            <p class="job-description"><%= job.description %></p>
            <button class="btn btn-primary btn-block w-100" onclick="window.location.href='/job/<%= job.id %>'">More Details</button>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>