<%- include("partials/header.ejs") %>

<div class="hold pb-4">
    <div>
      <ul class="nav nav-tabs justify-content-center mb-4 custom-nav">
          <li class="nav-item">
            <a class="nav-link fix-nav active" href="#fixtures" data-target="fixtures">Fixtures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fix-nav" href="#results" data-target="results">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fix-nav" href="#tables" data-target="tables">Table</a>
          </li>
      </ul>
    </div>

    <div id="fixtures" class="container tab-content pb-4 fix-section live">        
      <p class="text-muted">Dates/Times are shown in Kenyan time and are subject to change</p>
      <% fixturesResult.forEach(match => { %>
        <div class="match-card mb-5">
            <div class="row align-items-center text-center">
                <div class="col-4">
                    <img src="<%= match.home_logo %>" alt="<%= match.hometeam %> Logo" class="team-logo">
                    <h5 class="mb-0 mt-2"><%= match.hometeam %></h5>
                </div>
                <div class="col-4">
                    <p class="mb-0"><%= new Date(match.mdate).toDateString() %></p>
                    <p class="text-muted mb-0">Kenya Premier League</p>
                    <h4 class="fw-bold"><%= match.mtime %> HRS</h4>
                    <p class="text-muted small"><%= match.hostedby %></p>
                </div>
                <div class="col-4">
                    <img src="<%= match.away_logo %>" alt="<%= match.awayteam %> Logo" class="team-logo">
                    <h5 class="mb-0 mt-2"><%= match.awayteam %></h5>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <a href="/pay-ticket/<%= match.matchid %>" target="_blank" class="btn btn-primary w-100">Tickets</a>
                </div>
            </div>
        </div>
      <% }); %>            
    </div>    

      <div id="results" class="tab-content container fix-section">
        <% fixtureResults.forEach(function(match) { %>
          <div class="res-holder">
              <!-- Match Information -->
              <div class="match-info">
                  <div class="row align-items-center">
                      <div class="col-4 text-center">
                          <img src="<%= match.home_logo %>" alt="<%= match.hometeam %> Logo" class="team-logo">
                          <h5 class="mt-2"><%= match.hometeam %></h5>
                      </div>
                      <div class="col-4 text-center">
                          <h4 class="mb-0"><%= new Date(match.mdate).toDateString() %></h4>
                          <p class="mb-0">Kenya Premier League</p>
                          <div class="score-box"><%= match.home_score %> - <%= match.away_score %></div>
                          <p class="ft">Fulltime</p>
                      </div>
                      <div class="col-4 text-center">
                          <img src="<%= match.away_logo %>" alt="<%= match.awayteam %> Logo" class="team-logo">
                          <h5 class="mt-2"><%= match.awayteam %></h5>
                      </div>
                  </div>
              </div>
          </div>
        <% }); %>
      </div>

      <div id="tables" class="tab-content fix-section">
        <div class="container my-5">
          <h3 class="text-primary-mine">Kenyan Premier League Standings</h3>
          <div class="table-container">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col">Pos</th>
                  <th scope="col">Club</th>
                  <th scope="col">MP</th>
                  <th scope="col">W</th>
                  <th scope="col">D</th>
                  <th scope="col">L</th>
                  <th scope="col">GF</th>
                  <th scope="col">GA</th>
                  <th scope="col">GD</th>
                  <th scope="col">Pts</th>
                </tr>
              </thead>
              <tbody>
                <% standings.forEach((team, index) => { %>
                  <tr>
                    <td class="position-number"><%= index + 1 %></td>
                    <td>
                      <img src="<%= team.logo_url %>" alt="<%= team.team_id %>" class="club-logo me-2"> <%= team.team_id %>
                    </td>
                    <td><%= team.matches_played %></td>
                    <td><%= team.wins %></td>
                    <td><%= team.draws %></td>
                    <td><%= team.losses %></td>
                    <td><%= team.goals_for %></td>
                    <td><%= team.goals_against %></td>
                    <td><%= team.goal_difference %></td>
                    <td><%= team.points %></td>
                  </tr>
                <% }); %>          
              </tbody>
            </table>
          </div>
        </div>        
      </div>
</div>

<%- include("partials/footer.ejs") %>