<%- include("partials/header.ejs") %>

<header class="clubs-header">
    <h1>Clubs</h1>
    <div class="search-bar">
      <input type="text" class="form-control" id="searchInput" placeholder="Search Clubs">
      <button type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
</header>

<div class="container py-5 my-5 teams">
    <div class="row g-4">
      <% teams.forEach(team => { %>
        <div class="col-md-3">
          <div class="card club-card h-100">
            <img src="<%= team.logo_url %>" alt="<%= team.teamname %> Logo" class="card-img-top mx-auto">
            <div class="card-body">
              <h5 class="card-title"><%= team.teamname %></h5>
            </div>
            <div class="card-footer">
              <a class="d-flex justify-content-between align-items-center" href="<%= team.website %>" target="_blank">View club
                  <i class="fa-solid fa-right-long"></i></a>
            </div>
          </div>
        </div>
      <% }) %>
    
    </div>
</div>


<%- include("partials/footer.ejs") %>